aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiohttp-retry==2.9.1
aiosignal==1.4.0
ansicon==1.89.0
arrow==1.4.0
asgiref==3.11.1
attrs==26.1.0
bcrypt==5.0.0
blessed==1.38.0
certifi==2026.4.22
charset-normalizer==3.4.7
colorama==0.4.6
demjson3==3.0.6
Django==6.0.4
django-ckeditor==6.5.1
django-cors-headers==4.0.0
django-environ==0.10.0
django-htmx==1.27.0
django-js-asset==3.1.2
django-phone-field==1.8.1
django-picklefield==3.4.0
django-q2==1.9.0
docopt==0.6.2
docx2pdf==0.1.8
docxtpl==0.20.2
et_xmlfile==2.0.0
fontawesomefree==6.4.2
frozenlist==1.8.0
greenlet==3.5.0
idna==3.13
Jinja2==3.1.6
jinxed==1.4.0
lxml==6.1.0
MarkupSafe==3.0.3
multidict==6.7.1
mysqlclient==2.2.8
num2words==0.5.14
numpy==1.26.4
openpyxl==3.1.5
packaging==26.0
pandas==3.0.2
pillow==12.2.0
playwright==1.59.0
propcache==0.4.1
pyee==13.0.1
PyJWT==2.12.1
PyMySQL==1.1.2
python-dateutil==2.9.0.post0
python-docx==0.8.11
pywin32==311
redis==3.5.3
requests==2.33.1
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
stripe==15.1.0
tqdm==4.67.3
twilio==9.10.5
typing_extensions==4.15.0
tzdata==2026.2
Unidecode==1.4.0
urllib3==2.6.3
waitress==3.0.2
wcwidth==0.6.0
wheel==0.46.3
yarl==1.23.0
