{% extends 'template.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block customstyle %}
{% endblock %}

{% block containerHead %}
  <div class="flex-wrap d-flex justify-content-between align-items-center">
    <div>
        <h1>Nueva investigación</h1>
    </div>
    <div>
      <!--  <a href="/investigacion/nueva" class="btn btn-success">Nueva</a> -->
    </div>
</div>
{% endblock %}
{% block subContainerHead %}
{% endblock %}
{% block contenido %}

      <div class="card">

                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Por favor ingrese los siguientes datos de la persona a investigar.</h4>
                    </div>
                    <a href="/Investigaciones/Lista" class="btn btn-danger">Regresar</a>
                </div>

                <div class="card-body">
                    
                    <p></p>
                    <form method="post" action="{% url 'Investigaciones:AgregarPersonaM' %}" enctype="multipart/form-data" id="upload-form">
                    {% csrf_token %}

                            <div class='row mt-3'>
                              <div class='col-12'>
                                <h6>1 - Captura el C.U.R.P. de la persona</h6>
                              </div>
                                <div class='col-12 col-md-3 mt-1'>
                                    <div class='form-group'>
                                        <label labelfor='txtCURP' class='form-label'>CURP:</label>
                                        <input class='form-control' name='txtCURP' id='txtCURP' required maxlength='18'  oninput="convertToUppercase(this)" />
                                    </div>
                                </div>
                              
                                    <div class="col-12 col-md-3 mt-5 my-0">
                                      <div class="form-group">
                                        <label for="chkValINE">¿Desea validar la INE?</label>
                                        <input type="checkbox" checked='true' value='SI' name="chkValINE" id="chkValINE"/>
                                      </div>
                                    </div>
                                <div class="col-12 col-md-3 mt-5 my-0">
                                      <div class="form-group">
                                       <button onclick="openDialogoConfirm()" class='btn btn-success btn-lb-primary'>Iniciar</button>
                                      </div>
                                    </div>
                                    
                                    
                                <div class='col-12'>
                                  <div class='row'>
                                    <div class='col-12 col-md-3'>
                                        <div class='form-group'>
                                            <label labelfor='txtNombre' class='form-label'>Nombres:</label>
                                            <input class='form-control ' name='txtNombre' id='txtNombre'  required   oninput="convertToUppercase(this)" readonly />
                                        </div>
                                    </div> 
                                    <div class='col-12 col-md-3'>
                                        <div class='form-group'>
                                            <label labelfor='txtApellido1' class='form-label'>Primer Apellido:</label>
                                            <input class='form-control' name='txtApellido1' id='txtApellido1'  oninput="convertToUppercase(this)" readonly />
                                        </div>
    
                                    </div> 
                                    <div class='col-12 col-md-3'>
                                        <div class='form-group'>
                                            <label labelfor='txtApellido2' class='form-label'>Segundo apellido:</label>
                                            <input class='form-control ' name='txtApellido2' id='txtApellido2'  oninput="convertToUppercase(this)" readonly />
                                        </div>
    
                                    </div> 
                                    
                                    
                                    <div class='col-12 col-md-3'>
                                        <div class='form-group'>
                                            <label labelfor='txtFNac' class='form-label'>Fecha de nacimiento:</label>
                                            <input  type='date' class='form-control' name='txtFNac' id='txtFNac'  readonly />
                                        </div> 
    
                                    </div> 
                                  </div>
                                  <div class='row'>
                                    <div class='col-12 col-md-4'>
                                      <div class='form-group'>
                                          <label labelfor='selSEXO' class='form-label'>Sexo</label>
                                          <select name='selSEXO' id='selSEXO' class='form-select' onfocus="this.defaultIndex=this.selectedIndex;" onchange="this.selectedIndex=this.defaultIndex;" >
                                              <option value=''>-Selecione Sexo-</option>
                                              <option value='H'>HOMBRE</option>
                                              <option value='M'>MUJER</option>
                                          </select>
                                      </div>
  
                                  </div> 
                                  <div class='col-12 col-md-4'>
                                      <div class='form-group'>
                                          <label labelfor='selLugarNacimiento' class='form-label'>Lugar de nacimiento</label>
                                          <select name='selLugarNacimiento' id='selLugarNacimiento' class='form-select'  onfocus="this.defaultIndex=this.selectedIndex;" onchange="this.selectedIndex=this.defaultIndex;" >
                                              <option value=''>-Seleccione una opción-</option>
                                          </select>
                                      </div>
  
                                  </div> 
                                  </div>
                                  <div class='row'>
                                    <div class='col-12 col-md-3 mt-1'>
                                      <div class='form-group'>
                                          <label labelfor='txtRFC' class='form-label'>RFC</label>
                                          <input class='form-control' name='txtRFC' id='txtRFC' maxlength='18' required  onclick='getCalcularRFC()'  oninput="convertToUppercase(this)" readonly/>
                                      </div>
      
                                  </div> 
                                  </div>
                                  </div>


                                   <!-- INE -->
                                   <div class='col-12 mt-2'>
                                    <h6>2 - Selecciona el tipo de INE</h6>
                                  </div>
                                  <div class='col-12 mt-4'>
                                    <div class="row">
                                      <div class="col-12 col-md-6">
                                          <div class="image-group">
                                              <h5  class='mb-2'>Tipo D</h5>
                                              <img src="{% static "f1.jpeg" %}" alt="" class="img-thumbnail" id="imagen-preview" width="300" height="150">
                                              <img src="{% static "b2.jpeg" %}" alt="" class="img-thumbnail" id="imagen-preview2" width="300" height="150">
                                          </div>
                                      </div>
                                      <div class="col-12 col-md-6">
                                          <div class="image-group">
                                              <h5 class='mb-2'>Tipo E, F, G, H</h5>
                                              <img src="{% static "f2.jpeg" %}" alt="" class="img-thumbnail" id="imagen-preview2" width="300" height="150">
                                              <img src="{% static "b1.jpeg" %}" alt="" class="img-thumbnail" id="imagen-preview" width="300" height="150">
                                          </div>
                                      </div>
                                      <div class="col-12 mt-3">
                                          <h6 class="mt-2">¿No sabes si tu credencial es E, F, G o H? </h6>
                                          <ul class='mt-2'>
                                          <li>E: Credenciales cuya vigencia inicia entre 2014 y 2019. </li>
                                          <li>F y H: Estas credenciales son de nacidos en el extranjero con las iniciales <br> NE en el CURP y si la vigencia empieza entre el 2016 y el 2019 </li>
                                          <li>G: Credenciales cuya vigencia inicia a partir de 2020. </li>
                                          </ul>
                                      </div>
                                  </div>
                                  </div>

                                    <div class='col-12 mt-2'>
                                      <div class='col-12 col-md-4'> 
                                        <div class='form-group'>
                                          <span>
                                            <label for='SelTipoINE' class='form-label'>Clase de INE</label>
                                            <select name='selTipoINE' id='selTipoINE' class='form-select' onchange='displayTipoINE()' >
                                              <option value=''>-Seleccione un tipo de INE-</option>
                                            </select>
                                            <label  style='padding-left:10px;' onmouseover='this.style.color="blue"' onmouseout='this.style.color="#B0B5C3"' onclick='displayAyuda()'>Dondé están mis datos?</label>
                                          </span>
                                          
                                        </div>
                                      </div>
                                    </div>

				                       
                                   

                                <div class='col-12 col-md-2 mt-2'>
                                    <div class='form-group'>
                                        <label labelfor='txtEmision' class='form-label'>Núm. Emisión</label>
                                        <input class='form-control' type="text" name='txtEmision' id='txtEmision'  maxlength='2' required />
                                    </div>
                                </div> 
                                <div class='col-12 col-md-3 mt-2'>
                                    <div class='form-group'>
                                        <label labelfor='txtClaveElector' class='form-label'>Clave de elector</label>
                                        <input class='form-control' name='txtClaveElector' id='txtClaveElector' maxlength='18' required   oninput="convertToUppercase(this)"/>
                                    </div>

                                </div> 
                                <div class='col-12 col-md-3 mt-2'>
                                    <div class='form-group'>
                                        <label labelfor='txtCIC' class='form-label'>CIC</label>
                                        <input class='form-control' name='txtCIC' id='txtCIC' maxlength='9' required   oninput="convertToUppercase(this)"/>
                                    </div>
    
                                </div> 
                                <div class='col-12 col-md-3 mt-2'>
                                    <div class='form-group'>
                                        <label labelfor='txtIdentificador' class='form-label'>Identificador del Ciudadano</label>
                                        <input class='form-control' name='txtIdentificador' id='txtIdentificador' maxlength='13' required   oninput="convertToUppercase(this)" onblur="validarINE()"/>
                                    </div>
    
                                </div> 
                              
                              
                               
                                

                                <hr>
                                
                               
                                



                                
                                <input type='hidden' name='valINE' id='valINE'>
                                
                               
                                  <div class='col-12 col-md-3 mt-2'>
                                    
                                      <input type='submit' value='Guardar' class='btn btn-success btn-lb-primary'>
                                      <input type='reset' class='btn btn-info btn-lb-info' onclick='limpiarFormulario()' value="Limpiar">
                                   
                                  </div>
                            </div> 
                    </form>
                    <pre></pre>
                    <pre></pre>
                    <pre></pre>
                    <pre></pre>
                    <pre></pre>

                </div>
            </div>
            <!-- MODAL  -->
            <div class="modal" tabindex="-1" id='modalError'>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Ocurrio un error al procesar los datos</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="modal-body">
                           
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                            
                        </div>
                    </div>
                </div>
                </div>

            <!-- modal ayuda ine 2-->
                   <!-- MODAL  -->
            <div class="modal modal-xl" tabindex="-1" id='modalDatosINE'>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Datos a capturar.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="modal-body">
                          <center>
                            <img id='imgDatosINE' >
                            </center>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                            
                        </div>
                    </div>
                </div>
                </div>
            <!-- modal ayuda ine 2-->

                  <!-- MODAL  -->
            <div class="modal" tabindex="-1" id='modalConsejos'>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Recomendaciones para un escaneo correcto de la INE</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="modal-body">
                            <ol>
                            <li>Tomar la foto con poca distancia y que no sea solo los bordes de la credencial. </li>
                            <li>Evitar luz sobre los hologramas ya que hace que brillen y afectan el procesamiento de la imagen.</li>
                            <li> Una resolución entre 800px y 2000px sería lo ideal para no forzar tanto el procesamiento de la imagen.</li>
                            <li> Evitar que el color del fondo sea similar al de la credencial.</li>
                            <li> Evitar sombras al momento de tomar la fotografía.</li>
                            <li>La orientación se recomienda que estén en posición normal de frente en horizontal.</li>
                            <li> Evitar sostener la imagen con los dedos, se puede reposar sobre la palma de la mano.</li>
                            <li>Se recomienda que no se cubra nada en la credencial.</li>
                            <li>No es recomendable hacerlo con imágenes escaneadas, pero en caso de hacerlo que sean legibles y de preferencia a color.</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger"  onclick='btnCerrar' id='btnCerrarMy'>Cerrar</button>
                            
                        </div>
                    </div>
                </div>
                </div>
                <dialog id="DialogoConfirmacion" style='color:#488fc3; background-color:#ffffff; border-radius: 5px; margin-top:10%'>
                    <center>
                          <img src="{% static 'resources/legalbit-logo-dark.png' %}" width="150">
                    </center>
                     <h3 style='color:#488fc3;'>Atención</h3>

                  <p>La siguiente consulta genera el consumo de sus créditos disponibles, ¿desea continuar?</p>
                  <button onclick="iniciarInvestigacion()" class="btn btn-success">Sí</button>
                  <button onclick="cerrarDialogoC(this)" class="btn btn-danger">No</button>
                </dialog>

                <dialog id="DialogoNotificacion" style='background-color:#488fc3; color:#ffffff; border-radius: 5px;margin-top:10%'>
                    <h3 style='color:#ffffff;'>Por favor espere.</h3>
                    <p>Se están obteniendo los datos del investigado a través de su C.U.R.P.</p>
                </dialog>
                <dialog id="DialogSave" style='background-color:#488fc3; color:#ffffff; border-radius: 5px;margin-top:10%'>
                  <h3 style='color:#ffffff;'>Por favor espere.</h3>
                  <p>Guardando información</p>
              </dialog>


                <dialog id="errorTIPO"  style='background-color:#ff0000; color:#ffffff; border-radius: 25px;margin-top:10%'>
                    <p><b>Esta Identifiación Ya no es válida.</b></p>
                    <button id="btnOK" class='btn btn-primary btn-sm'>OK</button>
                  </dialog>

                  <dialog id="dConsulaINE"  style='background-color:#488fc3; color:#ffffff; border-radius: 25px;margin-top:10%'>
                    <h3 style='color:#ffffff'>Por favor espere.</h3>
                    <p>Validando información de la INE</p>
                  </dialog>

                  <dialog id="confirmDialog">
                    <p>¿Estás seguro de continuar con dar de alta al investigado?</p>
                    <button id="confirmYes">Sí</button>
                    <button id="confirmNo">No</button>
                  </dialog>
                  

                  <div class="modal" tabindex="-1" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Identifica el tipo de INE a capturar</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="30000" >
                                <div class="carousel-inner" id="carouselTipoINE">

                                  <div class="carousel-item" id="A">
                                    <img src="{% static 'img/INE_A.jpg' %}" class="d-block w-100" alt="Imagen 1">
                                  </div>
                                  <div class="carousel-item" id="B">
                                    <img src="{% static 'img/INE_B.jpg' %}" class="d-block w-100" alt="Imagen 1">
                                  </div>
                                  <div class="carousel-item" id="C">
                                    <img src="{% static 'img/INE_C.jpg' %}" class="d-block w-100" alt="Imagen 1">
                                  </div>
                                  <div class="carousel-item" id="D">
                                    <img src="{% static 'img/INE_D.jpg' %}" class="d-block w-100" alt="Imagen 1">
                                  </div>
                                  <div class="carousel-item" id="EF">
                                    <img src="{% static 'img/INE_EF.jpg' %}" class="d-block w-100" alt="Imagen 1">
                                
                                  </div>
                                  <div class="carousel-item" id="GH">
                                    <img src="{% static 'img/INE_GH.jpg' %}" class="d-block w-100" alt="Imagen 1">
                                    

                                  </div>
                  
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only"></span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only"></span>
                                </a>
        
        
                                </div>
        
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        
                            </div>
                        </div>
                </div>

                  
              
{% endblock %}
{% block customJS %}
<script>

function iniciarInvestigacion(){
     event.preventDefault();
     var dialogo = document.getElementById('DialogoConfirmacion');
     dialogo.close();
     var txtCURP = document.getElementById('txtCURP');
     getDataFromCURP(txtCURP.value)
}

function openDialogoConfirm(){
    event.preventDefault();
    var dialogo = document.getElementById('DialogoConfirmacion');
    dialogo.showModal();
}


function cerrarDialogoC(d){
    event.preventDefault();
     var dialogo = document.getElementById('DialogoConfirmacion');
     dialogo.close();
}

var chkValINE = document.getElementById('chkValINE');
// Agrega un evento para escuchar el cambio en el checkbox
chkValINE.addEventListener("change", function() {
  emision = document.getElementById('txtEmision')
  clave_elector = document.getElementById('txtClaveElector')
  cic = document.getElementById('txtCIC')
  identificador = document.getElementById('txtIdentificador')
  var selINE = document.getElementById('selTipoINE');
  if (chkValINE.checked) {
      // Checkbox marcado
      selINE.disabled= false
      emision.disabled = false
      clave_elector.disabled = false
      cic.disabled = false
      identificador.disabled = false
  } else {
      // Checkbox desmarcado
      selINE.disabled =true
      emision.disabled = true
      clave_elector.disabled = true
      cic.disabled = true
      identificador.disabled = true
  }
});


var carousel = document.getElementById('carouselExampleControls');

carousel.pause = true;
carousel.interval = false;




function displayAyuda(){
  var imgModal = document.getElementById('imgDatosINE')
  var mySelect = document.getElementById('selTipoINE');
  var selectedOption = mySelect.selectedOptions[0];
  var selectedText = selectedOption.textContent.trim();
  var srcAyuda = ''
  imgModal.src=srcAyuda;
  
  if (mySelect.selectedIndex > 0) {
    if (selectedText == 'E' || selectedText == 'F' || selectedText == 'G' || selectedText == 'H'){
      srcAyuda ='{% static '/img/AYUDA1.png' %} '
      imgModal.src=srcAyuda;
    }
    if (selectedText == 'D' ){
      srcAyuda ='{% static '/img/AYUDA2.png' %} '
      imgModal.src=srcAyuda;
    }
     if (selectedText == 'C' ){
      srcAyuda ='{% static '/img/AYUDA3.png' %} '
      imgModal.src=srcAyuda;
    }
     if (selectedText == 'A' ){
      srcAyuda ='{% static '/img/AYUDASIN.png' %} '
      imgModal.src=srcAyuda;
    }
     if (selectedText == 'B' ){
      srcAyuda ='{% static '/img/AYUDASIN.png' %} '
      imgModal.src=srcAyuda;
    }


     var modal = new bootstrap.Modal(document.getElementById('modalDatosINE'));
   // Abre el modal
   modal.show();
  }}

function displayTipoINE() {
  var identificador = document.getElementById('txtIdentificador');
  var mySelect = document.getElementById('selTipoINE');
  var selectedOption = mySelect.selectedOptions[0];
  var selectedText = selectedOption.textContent.trim();
  var divName = selectedText;

  if (divName == 'D') {
    identificador.maxLength = 13;
  } else {
    identificador.maxLength = 9;
  
  if (divName == 'E' || divName == 'F') {
    divName = 'EF';
  }
  if (divName == 'G' || divName == 'H') {
    divName = 'GH';
  }
  }
  // Retirar elementos activos
      // Obtén el elemento padre
    var padre = document.getElementById("carouselTipoINE");

    // Obtén todos los elementos con la clase "active" dentro del padre
    var elementosActivos = padre.getElementsByClassName("active");

    // Recorre los elementos activos
    for (var i = 0; i < elementosActivos.length; i++) {
      // Elimina la clase "active"
      elementosActivos[i].classList.remove("active");
    }

  //
  var divImg = document.getElementById(CSS.escape(divName));
  divImg.classList.add('active');

  var modal = new bootstrap.Modal(document.getElementById('myModal'));
  // Abre el modal
  modal.show();

  // Agrega un controlador de eventos al evento "hidden.bs.modal" para activar la interacción con la página nuevamente
  modal._element.addEventListener('hidden.bs.modal', function () {
    activarInteraccionPagina();
  });
}

// Función para activar la interacción con la página
function activarInteraccionPagina() {
  document.body.style.pointerEvents = 'auto';
}

    function limpiarFormulario() {
        var form = document.getElementById('upload-form');
        var foto1 = document.getElementById('imagen-preview')
        var foto2 = document.getElementById('imagen-preview2')
        foto1.src="{% static "img/inefrente.jpg" %}"
        foto2.src="{% static "img/inetrasera.png" %}"
        var formElements = form.elements;
      
        for (var i = 0; i < formElements.length; i++) {
          var element = formElements[i];
      
          if (element.tagName === 'INPUT' && element.classList.contains('is-valid') || element.tagName === 'SELECT' && element.classList.contains('is-valid')) {
            element.classList.remove('is-valid');
          }
        }
      }
      
    function convertToUppercase(input) {
        input.value = input.value.toUpperCase();
      }

      function obtenerCURPPorDatos()
      {
        var nombre = document.getElementById('txtNombre');
        var apellido1 = document.getElementById('txtApellido1');
        var apellido2 = document.getElementById('txtApellido2');
        var selLugarNac = document.getElementById('selLugarNacimiento');
        var fNac =  document.getElementById('txtFNac')
        var txtRFC = document.getElementById('txtRFC')
        var fechaParts = fNac.value.split('-');
        var dia = fechaParts[2];
        var mes = fechaParts[1];
        var anio = fechaParts[0];
        var selectSexo = document.getElementById('selSEXO');
        // Mostrar animación de carga
        console.log('/Investigaciones/GenerarCURP/'+selLugarNac.value +"/"+dia+"/"+mes+"/"+nombre.value+"/"+apellido1.value+"/"+apellido2.value+"/"+anio + '/'+selectSexo.value)
        var dialogo = document.getElementById('DialogoNotificacion');
        dialogo.showModal();

        fetch('/Investigaciones/GenerarCURP/'+selLugarNac.value +"/"+dia+"/"+mes+"/"+nombre.value+"/"+apellido1.value+"/"+apellido2.value+"/"+anio + '/'+selectSexo.value)
          .then(function(response) {
            if (response.ok) {
              return response.json();
            } else {
              throw new Error('Error al obtener los datos del JSON');
            }
          })
          .then(function(data) {
            console.log(data);
            txtNombre.value = data.data.curpdata[0].nombres;
            txtApellido1.value = data.data.curpdata[0].primerApellido;
            txtApellido2.value = data.data.curpdata[0].segundoApellido;
            var partesFecha = data.data.curpdata[0].fechaNacimiento.split('/');
            var fechaFormateada = partesFecha[2] + '-' + partesFecha[1] + '-' + partesFecha[0];
            txtFNac.value = fechaFormateada;
            txtFNac.classList.add('is-valid')
            txtNombre.classList.add('is-valid')
            txtApellido1.classList.add('is-valid')
            txtApellido2.classList.add('is-valid')
            txtCURP.classList.add('is-valid')
            txtCURP.value = data.data.curpdata[0].curp;
            //
           

            // Extraer el sexo de la CURP
            var sexo = data.data.curpdata[0].curp.charAt(10);
            // Obtener la referencia al elemento <select>
                var selectSexo = document.getElementById('selSEXO');
                
                // Asignar el valor al elemento <select>
                selectSexo.value = sexo;
                selectSexo.classList.add('is-valid')
                console.log(sexo)
                //console.log(curp)

                claveEntidad = data.data.curpdata[0].claveEntidad;
                console.log(claveEntidad)
                var selLugarNac = document.getElementById('selLugarNacimiento');
                selLugarNac.value = claveEntidad
                selLugarNac.classList.add('is-valid')
                
           
            // Ocultar animación de carga
            dialogo.close();
            getCalcularRFC();
          })
          .catch(function(error) {
            console.error(error);
            // Ocultar animación de carga en caso de error
            dialogo.close();
          });
      }

      function getCalcularRFC(){
        var nombre = document.getElementById('txtNombre');
        var apellido1 = document.getElementById('txtApellido1');
        var apellido2 = document.getElementById('txtApellido2');
        var fNac =  document.getElementById('txtFNac')
        var txtRFC = document.getElementById('txtRFC')
       
        var fechaParts = fNac.value.split('-');
        var dia = fechaParts[2];
        var mes = fechaParts[1];
        var anio = fechaParts[0];
        var fechaFormateada = dia + '/' + mes + '/' + anio;
        var apellido1x = ""
        var apellido2x = ""
        if(apellido1.value == ''){
          apellido1x = "X";
        }else{
          apellido1x = apellido1.value
        }

        if(apellido2.value == ""){
          apellido2x = "X";

        }else{
          apellido2x = apellido2.value
        }

          // Mostrar animación de carga
          var dialogo = document.getElementById('DialogoNotificacion');
          dialogo.showModal();
          fetch('/Investigaciones/CalculadoraRFC/'+ nombre.value +'/'+apellido1x +'/'+apellido2x +'/'+dia+'/'+mes+'/'+anio)
          .then(function(response) {
            if (response.ok) {
              return response.json();
            } else {
              throw new Error('Error al obtener los datos del JSON');
            }
          })
          .then(function(data) {
            console.log(data);
            txtRFC.value = data.data.rfc;
            txtRFC.classList.add('is-valid')
            //txtNombre.value = data.data.curpdata[0].nombres;
            dialogo.close();
          
         
          })
          .catch(function(error) {
            txtRFC.value = "XAXA010101000";
            console.error(error);
            // Ocultar animación de carga en caso de error
            dialogo.close();
            // Obtener todos los elementos dialog abiertos
          });
      }

      function getDataFromCURP(valor) {
        console.log('obtener datos por curp')
        if(valor !== ""){
            var txtCURP = document.getElementById('txtCURP');
            var txtNombre = document.getElementById('txtNombre');
            var txtApellido1 = document.getElementById('txtApellido1');
            var txtApellido2 = document.getElementById('txtApellido2');
            //var loading = document.getElementById('cargando');
            var txtFNac =  document.getElementById('txtFNac')
            // Mostrar animación de carga
            var dialogo = document.getElementById('DialogoNotificacion');
            dialogo.showModal();
            fetch('/Investigaciones/ObtenerDatosxCURP/' + valor)
            .then(function(response) {
              console.log('response obtener')
              //print(response)
                if (response.ok) {
                return response.json();
                } else {
                throw new Error('Error al obtener los datos del JSON');
                }
            })
            .then(function(data) {
              console.log('consutla curp existosa')
                console.log(data);
                txtNombre.value = data.data.curpdata[0].nombres;
                txtApellido1.value = data.data.curpdata[0].primerApellido;
                txtApellido2.value = data.data.curpdata[0].segundoApellido;
                var partesFecha = data.data.curpdata[0].fechaNacimiento.split('/');
                var fechaFormateada = partesFecha[2] + '-' + partesFecha[1] + '-' + partesFecha[0];
                txtFNac.value = fechaFormateada;
                txtFNac.classList.add('is-valid')
                txtNombre.classList.add('is-valid')
                txtApellido1.classList.add('is-valid')
                txtApellido2.classList.add('is-valid')
                txtCURP.classList.add('is-valid')
                // Extraer el sexo de la CURP
                var sexo = valor.charAt(10);
                // Obtener la referencia al elemento <select>
                    var selectSexo = document.getElementById('selSEXO');

                    // Asignar el valor al elemento <select>
                    selectSexo.value = sexo;
                    selectSexo.classList.add('is-valid')
                    console.log(sexo)
                    //console.log(curp)

                    claveEntidad = data.data.curpdata[0].claveEntidad;
                    console.log(claveEntidad)
                    var selLugarNac = document.getElementById('selLugarNacimiento');
                    selLugarNac.value = claveEntidad
                    selLugarNac.classList.add('is-valid')

                // Ocultar animación de carga
                dialogo.close();
                getCalcularRFC();
                // Obtener todos los elementos dialog abiertos

            })
            .catch(function(error) {
                console.error(error);
                // Ocultar animación de carga en caso de error
                dialogo.close();
                // Obtener todos los elementos dialog abiertos

            });
        }
      }

    
      function populateLugarNacimiento() {
        var select = document.getElementById('selLugarNacimiento');
      
        fetch('/Generales/apiLugarNacimiento')
          .then(function(response) {
            if (response.ok) {
              return response.json();
            } else {
              throw new Error('Error al obtener los datos del JSON');
            }
          })
          .then(function(data) {
            console.log(data)
            for (var i = 0; i < data.length; i++) {
              var option = document.createElement('option');
              option.value = data[i].clave;
              option.textContent = data[i].lugar;  // Corrección aquí
              select.appendChild(option);
            }
          })
          .catch(function(error) {
            console.error(error);
          });
      }

      populateLugarNacimiento();
    function populateTipoINE() {
        var select = document.getElementById('selTipoINE');
      
        fetch('/Generales/apiTipoINE')
          .then(function(response) {
            if (response.ok) {
              return response.json();
            } else {
              throw new Error('Error al obtener los datos del JSON');
            }
          })
          .then(function(data) {
            console.log(data)
            for (var i = 0; i < data.length; i++) {
              var option = document.createElement('option');
              option.value = data[i].pk;
              option.textContent = data[i].tipo;  // Corrección aquí
              select.appendChild(option);
            }
          })
          .catch(function(error) {
            console.error(error);
          });
      }
      

    populateTipoINE();

 function displayRecomendacion(){
       // Obtén una referencia al elemento del modal
var modal = new bootstrap.Modal(document.getElementById('modalConsejos'));
// Abre el modal
modal.show();
}

function extractFechaNacimiento(curpValue) {
    var year = curpValue.substring(4, 6);
    var month = curpValue.substring(6, 8);
    var day = curpValue.substring(8, 10);
  
    // Verificar si el año pertenece a 1900 o 2000
    if (year >= 0 && year <= 99) {
      year = (year >= 0 && year <= 21) ? '20' + year : '19' + year;
    }
  
    var fechaNacimiento = year + '-' + month + '-' + day;
    document.getElementById('txtFNac').value = fechaNacimiento;
  }
  

  function previewImagen(event) {
            const reader = new FileReader();
            reader.onload = function() {
                const imagenPreview = document.getElementById('imagen-preview');
                const imagenPreview2 = document.getElementById('imagen-preview2');
                if (event.target.id === 'userfile') {
                    imagenPreview.src = reader.result;
                } else if (event.target.id === 'userfile2') {
                    imagenPreview2.src = reader.result;
                }
            }
            reader.readAsDataURL(event.target.files[0]);
        }
        function previewImagen2(event) {
            const reader = new FileReader();
            reader.onload = function() {
                const imagenPreview = document.getElementById('imagen-preview');
                const imagenPreview2 = document.getElementById('imagen-preview2');
                if (event.target.id === 'userfile') {
                    imagenPreview.src = reader.result;
                } else if (event.target.id === 'userfile2') {
                    imagenPreview2.src = reader.result;
                }
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    
        function validarINE(){
            var d = document.getElementById('selTipoINE');
            var valINE = document.getElementById('valINE')
            var dialog = document.getElementById('errorTIPO');
            var btnOK = document.getElementById('btnOK');
            var cic = document.getElementById('txtCIC');
            var identificador = document.getElementById('txtIdentificador');
            var selectedOption = d.options[d.selectedIndex];
            var texto = selectedOption.text;
            var date = new Date();
            var year = date.getFullYear();
            if (texto == 'A' || texto == 'B'){
               
               dialog.showModal();
            }else{
                if(year > 2024 && texto == 'C'){
                    dialog.showModal();
                }else{
                    getlistaNominal(texto, cic.value , identificador.value);
                }
            }
            

            btnOK.addEventListener('click', function() {
                dialog.close();
              });
        }

        function getlistaNominal(tipo, cic, identificador){
            console.log('/Investigaciones/ValidaINEListaNominal/'+ tipo + '/' + cic + '/' +identificador )
            var dialogo = document.getElementById('dConsulaINE');
            var inehidden = document.getElementById('valINE');
            dialogo.showModal();
            fetch('/Investigaciones/ValidaINEListaNominal/'+ tipo + '/' + cic + '/' +identificador )
            .then(function(response) {
              if (response.ok) {
                return response.json();
              } else {
                dialogo.close();
                throw new Error('Error al obtener los datos del JSON');
               
              }
            })
            .then(function(data) {
              console.log(data)
              inehidden.value = JSON.stringify(data)
              dialogo.close();
 
            })
            .catch(function(error) {
              console.log(error);
            });
        }

</script>
{% endblock %}
