{% extends 'template.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block containerHead %}
<div class="flex-wrap d-flex justify-content-between align-items-center">
    <div>
        <h1>Sistema de Tickets</h1>
    </div>
    <div>
        <!--  <a href="/investigacion/nueva" class="btn btn-success">Nueva</a> -->
    </div>
</div>
{% endblock %}
{% block subContainerHead %}
{% endblock %}
{% block contenido %}
<div class='card'>
    <div class='card-header'>
        <div class="card-header d-flex justify-content-between">
            <div class="header-title">
                <h4 class="card-title">Administración de tickets</h4>
            </div>
        </div>
        <div class='card-body'>
            <!-- Insert content below -->

            <div class="card w-100">
                <div class="card-body">
                    <br>

                    <!-- <figure class="text-end"> -->
                    <div class="card">
                        <div class="card-body">
                            <br>
                            <figure>
                                <figcaption class="blockquote-footer">
                                    <cite title="Source Title">{{ticket.created_at}}</cite>
                                </figcaption>
                                <blockquote class="blockquote">
                                    <p>{{ticket.description | safe | linebreaks}}</p>
                                </blockquote>
                            </figure>
                        </div>
                    </div>

                    <!-- ticket_comments -->
            {# This returns user ticket comments update partial #}
            {% include 'TicketingSystem/partials/htmx_comment_lst.html' %}
                    <!-- end ticket_comments -->

                </div>
            </div>

            <!-- request assistance -->
            {% if ticket.status.id != 4 %}
            <div class="d-flex justify-content-center align-items-center">
                <div class="card w-100">
                    <div class="card-header">
                        <h5>Agregar tu respuestes</h5>
                    </div>
                    <div class="card-body">

                        <form
                        hx-get="{% url 'TicketingSystem:ticket_by_id' ticket_id %}"
                        hx-target="#comments_lst"
                        hx-on::after-request="this.reset()"
                        hx-confirm="¿Está seguro de enviar este mensaje?"
                        class="was-validated">

                            <div class="col-sm-8">
                                <label for="formGroupInput2" class="form-label">Dé una breve descripción del
                                    problema.</label>
                                <textarea name="comment" type="text" class="form-control" id="description" rows="3"
                                    required></textarea>
                            </div>
                            <br>
                            <div class="col-sm-8">
                                <div class="d-grid gap-2 d-md-flex">
                                    <a role="button" href="/tickets"class="btn btn-success btn-sm btn-lb-primary">Regresar</a>
                                    <button type="submit" class="btn btn-success btn-sm btn-lb-primary">Enviar</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            {% else %}
            <div class="card">
                <div class="card-body">
                    <h5>Este ticket fue cerrado.</h5>
                </div>
            </div>
            {% endif %}
            <!-- end request assistance -->
        </div>

        <!-- End Insert content -->
    </div>
</div>
</div>

{% endblock %}

{% block customJS %}

{% endblock %}